<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <table style="width: 1600px; table-layout: fixed; margin:30px; font-size:22px" border="1">
      <tr>
        <th width="20%">Restaurant</th>
        <th>Reviews</th>
      </tr>

      {% for restaurant in data %}
      <tr style="padding: 10px;" >
        <td style="padding: 30px;" valign="top">
          {{ restaurant[0] }}
        </td>
        <td style="padding: 30px;" valign="top">
          <ul>
          <li>{{ restaurant[1] }} </li>
            <li>{{ restaurant[2] }} </li>
            <li>{{ restaurant[3] }} </li>
            </ul>

            <hr>
          <ul>
            <li>{{ restaurant[4] }} </li>
            <li>{{ restaurant[5] }} </li>
            <li>{{ restaurant[6] }} </li>
            </ul>
        </td>
      </tr>
      {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
