<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta charset="utf-8">
  <title>Search Page</title>
</head>

<body style='background-color: #e6eefc;'>
  <div style="padding:20px; margin-left:25%; margin-top:50px; width:50%; border: 1px solid; background-color:white;">
    <form method="post">
       {{ form1.hidden_tag() }}

       <table>
         <tr>
           <td width="300px" style="vertical-align: top;">
             {{ form1.textInput.label }}
             {{ form1.textInput() }}
           </td>
            <td style="vertical-align: top; padding-left: 40px">
            {{ form1.sortBy.label }}
            {{ form1.sortBy() }}
           </td>
         </tr>
       </table>
        {{ form1.submitText() }}
    </form>
    <hr>
    <form method="post">
      {{ form2.hidden_tag() }}

      <table>
        <tr>
          <td>
            {{ form2.cuisine.label }}
            {{ form2.cuisine() }}
          </td>
          <td style="vertical-align: top; padding-left:50px">
              {{ form2.sortBy.label }}
              {{ form2.sortBy() }}
          </td>
        </tr>
      </table>
      {{ form2.submitRadio() }}
    </form>
    <hr>
    <form method="post">
      {{form3.hidden_tag() }}
      {{ form3.userID.label }}
      <br>
      {{ form3.userID() }}
      {{ form3.submitRecommend() }}
    </form>




  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
